* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
 
 
}
.main{
  width: 100%;
  height: 125vh;
  position: relative;
  overflow: hidden;
   background-image: url("undraw_heatmap_uyye.svg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  opacity: 1;
  /* background: linear-gradient(to right, #9c27b0, #8ecdff); */
}
.logo{
    flex-basis: 20%;

}
.logo img{
    width:100px;
}
nav{
    width: 80%;
    background-color: transparent;
    position: sticky;
    margin: 50px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.nav-links a{
    text-decoration: none;
    color: #000;
    border: 1px solid rgb(61, 123, 144);
      padding:10px 15px;
      border-radius: 100px;
      
}
.nav-links a:hover{
    color:blue;
    background-color: aquamarine;
    transition: .5s;
}